[submodule "example/bitwuzla-for-QuantumSE"]
	path = example/bitwuzla-for-QuantumSE
	url = https://github.com/njuwfang/bitwuzla-for-QuantumSE.git
[submodule "example/symQV"]
	path = example/symQV
	url = https://github.com/fabianbauermarquart/symQV.git
